name: "self-test"

on: push

jobs:
  test-success:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm ci
      - run: exit 0
      - uses: ./
        if: always()
        with:
          ACTION_NAME: test-success
          GITHUB: ${{ toJson(github) }}
          JOB: ${{ toJson(job) }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  test-failure:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - run: npm ci
      - run: exit 1
      - uses: ./
        if: always()
        with:
          ACTION_NAME: test-failure
          GITHUB: ${{ toJson(github) }}
          JOB: ${{ toJson(job) }}
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
